name: Run Automation Tests

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    name: Build Project
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml || true

    - name: Obtener Ruta Report
      id: get-path
      run: |
        latest_report=$(ls -t ${GITHUB_WORKSPACE}/report | head -n 1)
        echo "path=${GITHUB_WORKSPACE}/report/${latest_report}" >> $GITHUB_ENV
        echo ${GITHUB_WORKSPACE}/report/${latest_report}
      
  results: 
    name: Tests Result
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Obtener Valor de Variable
        run: |
          path=$(cat $GITHUB_ENV | grep "path=" | sed -n -e 's/^path=//p')
          echo "El valor de la variable es: $path"
        
      - name: Crear Artefacto
        run: |
          echo "Creando artefacto"
          cat "$path"  # Utilizamos el valor de la variable
          echo "$path" > AutomationReport.html  # Creamos un archivo con el valor de la variable
          
      - name: Publish HTML
        uses: actions/upload-artifact@v2
        with:
          name: Automation Report
          path: AutomationReport.html
